* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: Gordita-Medium;
}

body {
	background-color: #053456;
	-webkit-text-size-adjust: 100%;
}

img {
	width: 100%;
}

@font-face {
	font-family: Gordita-Thin;
	src: url(../Fonts/Gordita-Thin.woff);
}

@font-face {
	font-family: Gordita-Medium;
	src: url(../Fonts/Gordita-Medium.woff);
}

@font-face {
	font-family: Gordita-Bold;
	src: url(../Fonts/Gordita-Bold.woff);
}

/* Configuración contenedor general */

.Wrapper {
	height: 100%;
	min-height: 100%;
	width: 100vw;
	text-align: center;
}

.Content {
	margin: 0 auto;
	display: block;
	position: relative;
	top: 50vh;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100vh / 2);
	min-width: 300px;
	height: 90vh;
	max-height: 90vh;
	min-height: 540px;
}

#BackgroundImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 2px;
	bottom: 0;
	z-index: -1;
}

.CodigoDesarrollo{
	text-align: right;
	display: block;
	position: absolute;
	z-index:1;
	font-size:9px;
	line-height: 1em;
	bottom:0px;
	right:0px;
	padding: 10px 0;
	COLOR: white;
	background-color: #2fb2e8;
	width: 100%;
	
}

.TextoDesarrollo{
	padding-right:10px;
	display:block;
}

/* Configuracion Pantalla completa en móviles */

@media (max-width: 768px) {

	body, html {
		height: 100%;
	  }

	.Wrapper {
		height: 100%;
		min-height: 100%;
		width: 100%;
		text-align: center;
	}
	
	.Content {
		top: 0vh;
		-webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(-0%);
		width: 100%;
		min-width: 100%;
		height: 100%;
		max-height: 100%;
		min-height: 100%;
		overflow: hidden;
	}
  }

  
/* Bloquear rotación a horizontal */

@media (max-width: 1200px) and (orientation: landscape) {

    
  }


/* De aqui en adelante inician las páginas */

/* Pagina Registro */

.LogoRegistro{
	width:40%;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
}

.ContenedorRegistro{
	width:75%;
	margin:0 auto;
	background: url(../Images/FondoDatosRegistro.png) no-repeat center center;
	background-size: contain;
	padding:3vh;

}

input{
background:url(../Images/FondoCampoRegistro.svg) no-repeat left top; 
padding:10px 25px 15px 25px;
color: #1c76ba;
font-size: 16px;
text-align: center; 
}

::placeholder {
	text-align: center; 
	color: #969696;
 }

button{
	background-color: transparent;
}

.BotonRegistroSubmit{
	width:60%;
}


/* Pagina Instrucciones 01 */

.BotonContinuar{
	background:url(../Images/FondoBotonContinuar.svg) no-repeat center center;
	background-size: contain;
	width:70%;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:20px;
	color:white;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	position:relative;
	z-index:20;
}

.LogoInferior{
 width:35%;
 position: absolute;
 bottom: -2px;
 left:30%;
 transform: translateX(-50%);
 filter: drop-shadow(0px 3px 4px #0e0c63aa);
 z-index:10;
}

.AyudasJuego{
	max-width: 70%;
}

/* Pagina Seleccion Nivel */

.LogoSeleccionNivel{
	width:35%;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
}

.BotonSeleccionNivel{
	background:url(../Images/FondoBotonContinuar.svg) no-repeat center center;
	background-size: contain;
	width:70%;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:20px;
	color:white;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	font-family: Gordita-Bold;
}

.NivelSuperado{
	pointer-events: none;
}

.NivelActual{
	background:url(../Images/FondoNivelActual.svg) no-repeat center center;
}

.NivelBloqueado{
	pointer-events: none;
	opacity: 40%;

}

.FooterAmgen{
	width:20%;
	position: absolute;
	bottom: 12px;
	left:4vh;
	z-index: 10;
   }

   .IconoMoneda{
	width: 14px;
    position: relative;
    top: 4px;
   }

/* Pagina Pregunta */

.FondoTiempo{
	background:url(../Images/Fondo_Tiempo.png) no-repeat center center;
	background-size: contain;
	padding:3vh 0 1.8vh;
	color: white;
	font-size:2vh;
}

.SeccionPuntaje{
	background:url(../Images/FondoPuntaje.png) no-repeat center center;
	background-size: contain;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	padding: 1.6vh 3vh 1vh 5vh;
	color:white;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	z-index:10;
	position: absolute;
	top:2vh;
	right:2vh;
	font-size:14px;
	line-height: 1em;
}

.TituloNivel{
	background:url(../Images/TituloNivel.svg) no-repeat center center;
	background-size: contain;
	width:60%;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:16px;
	color:black;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	z-index:10;
	position: relative;
	font-family: Gordita-Bold;
}

.SeccionPreguntas{
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(47,178,232,1) 20%, rgba(47,178,232,1) 80%, rgba(255,255,255,1) 100%);
	top: -3vh;
	position: relative;
	z-index:1;
	border-top:3px solid #2c54a3;
	border-bottom:3px solid #2c54a3;
}

.BloquePreguntas{
	width:80%;
	margin:0 auto;
	display:flex;
	align-items: center;
}
.ImagenPregunta{
	width:20%;
}

.TextoPregunta{
	width:80%;
	text-align:left;
	padding-left:2vw;
	line-height:1.2em;
	font-size:14px;
}

.BloqueRespuesta{
position: relative;
top:-2vh;
}
.BotonRespuesta{
	background:url(../Images/FondoBotonContinuar.svg) no-repeat center center;
	background-size: contain;
	width:70%;
	min-height: 2.6vh;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:20px;
	color:white;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	line-height: 1.1em;
    font-size: 12px;
}

.RespuestaCorrecta{
	background:url(../Images/FondoRespuestaCorrecta.svg) no-repeat center center;
}

.RespuestaIncorrecta{
	background:url(../Images/FondoRespuestaIncorrecta.svg) no-repeat center center;
}

.TextoAmarillo{
	color:#faec21;
}

.SeccionAyudas{
	background:url(../Images/FondoAyudas.jpg) no-repeat center center;
border-top:3px solid #2c54a3;
border-bottom:3px solid #2c54a3;
	display:block;
	width:100%;
	position: relative;
top:-2vh;

}

.BotonAyuda{
	width:18%;
	padding:1vh 2vh 20vh 2vh;
}

.AyudaPistaInformativa{
	position:absolute;
	top:0;
	left:0;
	z-index: 20;
}
.OverlayPistaInformativa{
	background-color: #053456;
	opacity:75%;
	width: calc(100vh / 2);
	min-width: 300px;
	height: 90.3vh;

}
@media (max-width: 768px) {
	.OverlayPistaInformativa{
		height: 100svh;	
		width:100vw;
	}
}

.ContenedorPistaInformativa{
	top:50%;
	left:50%;
	width:80%;
	position: absolute;
	transform: translate(-50%,-50%);
}

.TituloPista{
	background:url(../Images/TituloPista.svg) no-repeat center center;
	background-size: contain;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:10px 120px;
	color:transparent;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	z-index:20;
	position: relative;
	
}

.TextoPista{
	width:70%;
	margin:0 auto;
	color:white;
	background-color: #2fb2e8;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	padding:30px 30px 20px 30px;
	border-radius: 0 0 30px 30px;
	top:-3vh;
	position: relative;
	z-index:10;
	font-size:14px;
}

.BotonContinuarAzul{
	background:url(../Images/FondoBotonAzul.svg) no-repeat center center;
	background-size: contain;
	width:70%;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:20px;
	color:white;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	top:-6vh;
	position: relative;
	font-family: Gordita-Bold;
}

.ContenedorTextoRetroalimentacion{
	top:50%;
	left:50%;
	width:100%;
	position: absolute;
	transform: translate(-50%,-50%);
}

.BannerEstrellas{
	width:100%;
	position: relative;
	z-index: 20;;
}


.TextoRetroalimentacion{
	width:84%;
	margin:0 auto;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	top:-70px;
	position: relative;
	z-index:10;
}
.TituloTextoRetroalimentacion{
	background-color: white;
	padding:40px 1vw 10px 1vw;
	color: #2fb2e8;
	font-size:20px;
	font-family: Gordita-Bold;	
}

.ContenidoTextoRetroalimentacion{
	color:white;
	padding:20px 30px 20px 30px;
	background-color: #2fb2e8;
	border-radius: 0 0 30px 30px;
	font-size: 14px;
}


.LogoTextoRetroalimentacion{
	width:35%;
 position: absolute;
 bottom: -2px;
 left:50%;
 transform: translateX(-50%);
 filter: drop-shadow(0px 3px 4px #0e0c63aa);
 z-index:10;
}

/* Pagina Resultados */

.ContenedorResultado{
	width:90%;
	margin: 0 auto;
}

.ContainerResultado{
	width:90%;
	max-width:280px;
	margin: 0 auto;
	color: white;
	padding:75px 20px 35px 20px;
	top:-60px;
	position: relative;
	border-radius: 0 0 30px 30px;
	background: rgb(6,113,187);
	background: linear-gradient(90deg, rgba(6,113,187,1) 0%, rgba(104,38,128,1) 100%);
	outline-offset: -5px;
	outline: 2px solid white;
	line-height: 1.2em;
	font-size: 15px;
}

.TituloPuntaje{
	font-size:22px;
	font-family: Gordita-Bold;
}

.ResultadoPuntaje{
	font-size:20px;
}

.BotonRanking{
	background:url(../Images/FondoBotonContinuar.svg) no-repeat center center;
	background-size: contain;
	width:70%;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:20px;
	color:white;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	position:relative;
	z-index:20;
	top:-5vh;
}

/* Página Ranking */

.PosicionRanking{
	background:url(../Images/FondoBotonContinuar.svg) no-repeat center center;
	background-size: contain;
	width:90%;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding:20px 20px;
	color:white;
	filter: drop-shadow(0px 3px 4px #0e0c63aa);
	display: flex;
	align-items: center;
	height:4.5vh;

}

.PrimerPuesto{
	background:url(../Images/FondoPrimerPuesto.svg) no-repeat center center;
	color:black;
}

.SegundoPuesto{
	background:url(../Images/FondoSegundoPuesto.svg) no-repeat center center;
}

.TercerPuesto{
	background:url(../Images/FondoTercerPuesto.svg) no-repeat center center;
}

.NombreParticipante{
width:65%;
text-align: left;
padding:0px 5px;
line-height: 1em;
font-size:14px;
}

.PuntajeParticipante{
width:35%;
text-align: right;
padding:0px 5px;
}

/* Fabian*/

.spaceMediumvh {
    height:0.5vh;
}
.space1vh {
    height:1vh;
}
.space2vh {
    height:2vh;
}
.avoidEvents{
	pointer-events: none;
}
.interactable{
	cursor: pointer;
}
[transparent] { 
	visibility: hidden; 
} 
[grayscale] { 
	filter: grayscale(1);
	pointer-events: none;
} 

[nodisplay] { 
	display: none; 
} 
.ContenedorPuntajes{
	height: 42vh;
	width:90%;
	margin: 0 auto;
	overflow: scroll;
	overflow-x: hidden;
	padding:0 1vh;
}